# -------- Core Framework --------
django==5.2.6
django-cors-headers==4.7.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1

psycopg[binary]==3.2.9

# -------- ASGI + Real-time --------
daphne==4.1.2
channels>=4.2,<5
channels-redis>=4.2,<5
