# -------- Core Framework --------
django==5.2.13
django-cors-headers==4.7.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1

psycopg[binary]==3.2.9

# -------- ASGI + Real-time --------
daphne==4.1.2
channels==4.3.2
channels-redis==4.3.0
PyJWT==2.12.1

# -------- Async Task Worker --------
celery==5.5.3

# -------- AI Provider SDK --------
openai==2.9.0
